<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Contatos Web</title>
    <link type="text/css" rel="stylesheet" href="./css/reset.css">
    <link type="text/css" rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="home">
        <div class="box-cadastro">
            <h2>Cadastre-se já!</h2>
            <form action="agenda.html">
               <p>
                <input type="text" name="Nome" id="nome" placeholder="Nome" class="nomeSobrenome">
                <input type="text" name="Sobrenome" id="sobrenome" placeholder="Sobrenome" class="nomeSobrenome">
               </p>
               <p>
                <input type="text" name="Pais" id="pais" placeholder="País/Região" class="dados">
               </p>
               <p>
                <input type="text" name="Data de Nascimento" id="dataNascimento" placeholder="Data Nascimento" class="dados">
               </p>
               <p>
                <input type="email" name="email" id="emailCadastro" placeholder="nome@example.com" class="dados">
               </p>
               <p>
                <input type="password" name="senha" id="senhaCadastro" placeholder="Senha" class="dados">
               </p>
               <p>
                <input type="password" name="senha" id="confirmSenhaCadastro" placeholder="Confirmar Senha" class="dados">
               </p>
               <p>
                <input type="tel" name="telefone" id="telefone" placeholder="Número de Telefone" class="dados">
               </p>
               <p>
                <button class="btn-cadastrar">Cadastrar</button>
               </p>
              
            </form>

        </div>
    </div>
    <footer>
        <p>Política de Privacidade | Termos e Condições</p>
        <p>Copyright © 2024 UCB. Todos os direitos reservados.</p>
    </footer>
</body>
</html>