<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Contatos Web</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header class="header-agenda">
        <h2>Agenda de Contatos Web</h2>
        <a href="usuario.html">
            <img class="user-icon" src="assets/imagem-do-usuario-com-fundo-preto.png" alt="Icone de Usuário">
        </a>
    </header>
    <div class="main-agenda">
        <div class="coluna-listas">
            <header class="listas-header">
                <h4>Listas</h4>
                <a href="">
                    <img  src="assets/botao-adicionar 1.png" alt="Botão para criar outra lista">
                </a>
            </header>
             <div class="listas">
                <div class="lista">
                    <img class="icon-lista" src="assets/pessoas (1) 1.png" alt="">
                    <p>Todos os Contatos</p>
                </div>
             </div>
        </div>

        <div class="busc-contatos">
             <div class="submit-line">
                <input type="text" name="buscar-contatos" id="buscar-contatos" placeholder="Buscar Contatos"/>
                <button class="submit-lente" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
        </div>
        
        <div class="opcoes">
            <form action="agenta.html">
                <h4>Detalhes de Contato</h4>
                <p>
                    <input type="text" name="name" id="name" placeholder="Nome">
                </p>
                <p>
                    <input type="text" name="lastname" id="lastname" placeholder="Sobrenome">
                </p>
                <p>
                    <input type="tel" name="nmrtelefone" id="nmrtelefone" placeholder="Número de telefone">
                </p>
                <p>
                    <input type="email" name="email-contato" id="email-contato" placeholder="Email">
                </p>
                <p>
                    <input type="text" name="datanascimento" id="datanascimento" placeholder="Data de nascimento">
                </p>
                <p>
                    <button type="submit">OK</button>
                </p>
            </form>
        </div>
    </div>
    
</body>
</html>