<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Contatos Web</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="home">
        <div class="menu">
            
            <img src="assets/Logo Agenda de Contatos.png" alt="Logo da pagina pricipal">
            <h1>Agenda de Contatos</h1>
            <p>Acesse sua lista de contatos de qualquer lugar e qualquer dispositivo somente pela web.</p>
            <form action="login.html">
                <button type="submit" class="btn-iniciar">Iniciar Sessão</button>
            </form>
            
            
        </div>
    </div>
    <footer>
        <p>Política de Privacidade | Termos e Condições</p>
        <p>Copyright © 2024 UCB. Todos os direitos reservados.</p>
    </footer>
</body>

</html>