<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Contatos Web</title>
    <link type="text/css" rel="stylesheet" href="./css/reset.css">
    <link type="text/css" rel="stylesheet" href="./css/style.css">
    <base href="/">
</head>
<body>
    <div class="home">
        <div id="popup" class="popup">
            <img src="./assets/Logo Agenda de Contatos.png" alt="Logo do pop-up">
            <h2>Início de Sessão</h2>
            <form action="/login_conta">
                <p>
                    <input type="email" id="email" name="email" placeholder="Email">
                </p>
                <p>
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                </p>
                <p id="checkbox-login">
                    <input type="checkbox" name="manter-login" id="manter-login">
                    <label for="manter-login">Manter Login</label>
                </p>
                <p>
                    <button class="btn-login">Login</button>
                </p>
                <p id="cadastrar">
                    <a href="cadastro.html">Não tem um login? Cadastre-se agora!</a>
                </p>  
            </form>

        </div>
    </div>
    <footer>
        <p>Política de Privacidade | Termos e Condições</p>
        <p>Copyright © 2024 UCB. Todos os direitos reservados.</p>
    </footer>
</body>
</html>